{% extends 'index.html' %}
{% load static %}

{% block table %}
    <div class="work_models">
            <a type="button" href="{% url 'parts_add' name_parts=type %}" class="btn btn-success">+ Добавить новое поле</a>
            <a type="button" href="{% url 'export_to_excel' %}" id="export" class="btn btn-outline-success">Экспорт в Excel</a>
    </div>
                <thead class="thead-inverse">
                    {% if type == "users" %}
                        <th>Полное имя</th>
                        <th>ID</th>
                        <th>Электронная почта</th>
                        <th>Номер телефона</th>
                        <th>Роль пользователя</th>
                        <th>Дата подписки</th>
                    {% elif type == "themes" %}
                        <th>ID</th>
                        <th>Имя темы</th>
                    {% elif type == "modules" %}
                        <th>ID</th>
                        <th>ID темы</th>
                        <th>Имя модуля</th>
                        <th>Описание модуля</th>
                        <th>Фото модуля</th>
                        <th>Видео модуля</th>
                    {% elif type == "lessons" %}
                        <th>ID</th>
                        <th>Название модуля</th>
                        <th>Версия урока</th>
                        <th>Тип урока</th>
                        <th>Имя урока</th>
                        <th>Описание урока</th>
                    {% elif type == "msglessons" %}
                        <th>ID</th>
                        <th>Имя урока</th>
                        <th>Тип контента</th>
                        <th>Подпись контента</th>
                        <th>Контент урока</th>
                    {% elif type == "vocabulary" %}
                        <th>ID</th>
                        <th>Имя урока</th>
                        <th>Тип контента</th>
                        <th>Подпись контента</th>
                        <th>Контент словаря</th>
                    {% elif type == "quests" %}
                        <th>ID</th>
                        <th>Название урока</th>
                        <th>Название модуля</th>
                        <th>Название квеста</th>
                        <th>Описание квеста</th>
                        <th>Сложность квеста</th>
                    {% elif type == "msgquests" %}
                        <th>ID</th>
                        <th>Название квеста</th>
                        <th>Тип контента</th>
                        <th>Контент квеста</th>
                        <th>Подпись контента</th>
                    {% elif type == "choicequests" %}
                        <th>ID</th>
                        <th>Название квеста</th>
                        <th>Название выбора для квеста</th>
                        <th>Верность выбора</th>
                        <th>Описание выбора</th>
                    {% elif type == "achievements" %}
                        <th>ID</th>
                        <th>ID урока</th>
                        <th>Имя ачивки</th>
                        <th>Описание ачивки</th>
                        <th>Фото ачивки</th>
                    {% elif type == "buttons" %}
                        <th>ID</th>
                        <th>ID модуля</th>
                        <th>ID урока</th>
                        <th>Название кнопки</th>
                        <th>Выбранное сообщение</th>
                        <th>Подпись сообщения</th>
                        <th>Контент сообщения</th>
                        <th>Выбранная ачивка</th>
                    {% endif %}
                </thead>
            {% for foo in date %}
                {% if type == "users" %}
                {% if foo.is_superuser %}
                {% else %}
                <tr>
                    <th scope="row">{{ foo.full_name }}</th>
                    <td>{{ foo.user_id }}</td>
                    <td>{{ foo.email }}</td>
                    <td>{{ foo.phone_number }}</td>
                    <td>{{ foo.user_role }}</td>
                    <td>{{ foo.subscribe }}</td>
                    <td>
                        <a type="button" href="{% url 'userEdit' name_parts=type pk=foo.pk  %}"  id="{{ foo.pk }} edit" class="btn btn-success">Изменить</a>
                        <a type="button" href="{% url 'deleteUser' name_parts=type pk=foo.pk %}" id="{{ foo.pk }} remove" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
                {% endif %}
                {% elif type == "themes" %}
                 <tr>
                    <th scope="row">{{ foo.pk }}</th>
                    <td>{{ foo.themes_names }}</td>
                    <td>
                        <a type="button" href="{% url 'themesEdits' name_parts=type pk=foo.pk  %}" id="{{ foo.pk }} edit" class="btn btn-success">Изменить</a>
                        <a type="button" href="{% url 'deleteThemes' name_parts=type pk=foo.pk %}" id="{{ foo.pk }} remove" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
                {% elif type == "modules" %}
                <tr>
                    <th scope="row">{{ foo.pk }}</th>
                    <td>{{ foo.themes_id }}</td>
                    <td>{{ foo.module_name }}</td>
                    <td>{{ foo.module_description|truncatechars:40   }}</td>
                    {% if foo.module_photo == "Файл не найден" %}
                        <td><p style="color: red;">Файл не найден. </p></td>
                    {% else %}
                        <td><a href="{{ foo.module_photo.url }}">{{ foo.module_photo|truncatechars:40  }}</a></td>
                    {% endif %}
                    {% if foo.module_video == "Файл не найден" %}
                        <td><p style="color: red;">Файл не найден. </p></td>
                    {% else %}
                        <td><a href="{{ foo.module_video.url }}">{{ foo.module_video|truncatechars:40  }}</a></td>
                    {% endif %}
                    <td>
                        <a type="button" href="{% url 'moduleEdit' name_parts=type pk=foo.pk  %}" id="{{ foo.pk }} edit" class="btn btn-success">Изменить</a>
                        <a type="button" href="{% url 'moduleDelete' name_parts=type pk=foo.pk %}" id="{{ foo.pk }} remove" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
                {% elif type == "lessons" %}
                <tr>
                    <th scope="row">{{ foo.pk }}</th>
                    <td>{{ foo.id_modules.module_name }}</td>
                    {% if foo.is_short == 0 %}
                        <td>Краткая версия</td>
                    {% elif foo.is_short == 1 %}
                        <td>Полная версия</td>
                    {% endif %}
                    {% if foo.is_parent == 1 %}
                        <td>Родитель</td>
                    {% elif foo.is_parent == 0 %}
                        <td>Ребенок</td>
                    {% elif foo.is_parent == 2 %}
                        <td>Для всех</td>
                    {% endif %}
                    <td>{{ foo.lessons_name }}</td>
                    <td>{{ foo.lessons_description|truncatechars:40  }}</td>
                    <td>
                        <a type="button" href="{% url 'lessonsEdit' name_parts=type pk=foo.pk  %}" id="{{ foo.pk }} edit" class="btn btn-success">Изменить</a>
                        <a type="button" href="{% url 'lessonsDelete' name_parts=type pk=foo.pk %}" id="{{ foo.pk }} remove" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
                {% elif type == "msglessons" %}
                <tr>
                    <th scope="row">{{ foo.pk }}</th>
                    <td>{{ foo.id_lessons.lessons_name }}</td>
                    <td>{{ foo.id_AllMessages.message_type }}</td>
                    <td>{{ foo.id_AllMessages.message_caption|truncatechars:40  }}</td>
                    {% if foo.id_AllMessages.message_photos == "Документ не найден." %}
                        <td><p style="color: red;">Файл не найден. </p></td>
                    {% else %}
                        <td><a href="{{ foo.id_AllMessages.message_photos.url }}">{{ foo.id_AllMessages.message_photos.url|truncatechars:40  }}</a></td>
                    {% endif %}
                    <td>
                        <a type="button" href="{% url 'lessonsmsgEdit' name_parts=type pk=foo.pk  %}" id="{{ foo.pk }} edit" class="btn btn-success">Изменить</a>
                        <a type="button" href="{% url 'lessonsmsgDelete' name_parts=type pk=foo.pk %}"  id="{{ foo.pk }} remove" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
                {% elif type == "vocabulary" %}
                <tr>
                    <th scope="row">{{ foo.pk }}</th>
                    <td>{{ foo.message_id.lessons_name }}</td>
                    <td>{{ foo.message_id.message_type }}</td>
                    <td>{{ foo.message_id.message_caption|truncatechars:40  }}</td>
                    {% if foo.message_id.message_photos == "Документ не найден." %}
                        <td><p style="color: red;">Файл не найден. </p></td>
                    {% else %}
                        <td><a href="{{ foo.message_id.message_photos.url }}">{{ foo.message_id.message_photos.url|truncatechars:40  }}</a></td>
                    {% endif %}
                    <td>
                        <a type="button" href="{% url 'vocabularyEdit' name_parts=type pk=foo.pk  %}" id="{{ foo.pk }} edit" class="btn btn-success">Изменить</a>
                        <a type="button" href="{% url 'vocabularyDelete' name_parts=type pk=foo.pk %}"  id="{{ foo.pk }} remove" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
                {% elif type == "quests" %}
                <tr>
                    <th scope="row">{{ foo.pk }}</th>
                    <td>{{ foo.id_lessons.lessons_name }}</td>
                    <td>{{ foo.id_lessons.id_modules.module_name }}</td>
                    <td>{{ foo.quest_name }}</td>
                    <td>{{ foo.quest_description|truncatechars:40  }}</td>
                    {% if foo.is_hard == '0' %}
                        <td>Легко</td>
                    {% elif foo.is_hard == '1' %}
                        <td>Сложно</td>
                    {% endif %}
                    <td>
                        <a type="button" href="{% url 'questEdit' name_parts=type pk=foo.pk  %}" id="{{ foo.pk }} edit" class="btn btn-success">Изменить</a>
                        <a type="button" href="{% url 'questsDelete' name_parts=type pk=foo.pk %}" id="{{ foo.pk }} remove" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
                {% elif type == "msgquests" %}
                <tr>
                    <th scope="row">{{ foo.pk }}</th>
                    <td>{{ foo.quest_id.quest_name }}</td>
                    <td>{{ foo.id_AllMessages.message_type }}</td>
                    {% if foo.id_AllMessages.message_photos == "Документ не найден." %}
                        <td><p style="color: red;">Файл не найден. </p></td>
                    {% else %}
                            <td><a href="{{ foo.id_AllMessages.message_photos.url }}">{{ foo.id_AllMessages.message_photos.url|truncatechars:40  }}</a></td>
                    {% endif %}
                    <td>{{ foo.id_AllMessages.message_caption }}</td>
                    <td>
                        <a type="button" href="{% url 'questmsgEdit' name_parts=type pk=foo.pk  %}" id="{{ foo.pk }} edit" class="btn btn-success">Изменить</a>
                        <a type="button" href="{% url 'questsmsgDelete' name_parts=type pk=foo.pk %}" id="{{ foo.pk }} remove" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
                {% elif type == "choicequests" %}
                <tr>
                    <th scope="row">{{ foo.pk }}</th>
                    <td>{{ foo.quest_id.quest_name }}</td>
                    <td>{{ foo.choice_name }}</td>
                    {% if foo.is_True == 'true' %}
                        <td>Верно</td>
                    {% else %}
                        <td>Не верно</td>
                    {% endif %}
                    <td>{{ foo.сhoice_description|truncatechars:40  }}</td>
                    <td>
                        <a type="button" href="{% url 'choicequestEdit' name_parts=type pk=foo.pk  %}" id="{{ foo.pk }} edit" class="btn btn-success">Изменить</a>
                        <a type="button" href="{% url 'questschoiceDelete' name_parts=type pk=foo.pk %}" id="{{ foo.pk }} remove" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
                {% elif type == "achievements" %}
                <tr>
                    <th scope="row">{{ foo.pk }}</th>
                    <td>{{ foo.lesson_id.lessons_name }}</td>
                    <td>{{ foo.achieve_name }}</td>
                    <td>{{ foo.achieve_description }}</td>
                    {% if foo.achieve_photo == "Документ не найден." %}
                        <td><p style="color: red;">Файл не найден. </p></td>
                    {% else %}
                            <td><a href="{{ foo.achieve_photo.url }}">{{ foo.achieve_photo.url|truncatechars:40  }}</a></td>
                    {% endif %}
                    <td>
                        <a type="button" href="{% url 'achievementsEdit' name_parts=type pk=foo.pk  %}" id="{{ foo.pk }} edit" class="btn btn-success">Изменить</a>
                        <a type="button" href="{% url 'achievementsDelete' name_parts=type pk=foo.pk %}" id="{{ foo.pk }} remove" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
                {% elif type == "buttons" %}
                <tr>
                    <th scope="row">{{ foo.pk }}</th>
                    <td>{{ foo.module_id.module_name }}</td>
                    <td>{{ foo.lessons_id.lessons_name }}</td>
                    <td>{{ foo.button_name }}</td>
                    <td>{{ foo.message_id.id_AllMessages }}</td>
                    <td>{{ foo.message_id.id_AllMessages.message_caption }}</td>
                    {% if foo.message_id.id_AllMessages.message_photos == "Документ не найден." %}
                        <td><p style="color: red;">Файл не найден. </p></td>
                    {% else %}
                            <td><a href="{{ foo.message_id.id_AllMessages.message_photos.url }}">{{ foo.message_id.id_AllMessages.message_photos.url|truncatechars:40  }}</a></td>
                    {% endif %}
                    <td>{{ foo.achieve_id.achieve_name }}</td>
                    <td>
                        <a type="button" href="{% url 'buttonsEdit' name_parts=type pk=foo.pk  %}" id="{{ foo.pk }} edit" class="btn btn-success">Изменить</a>
                        <a type="button" href="{% url 'buttonsDelete' name_parts=type pk=foo.pk %}" id="{{ foo.pk }} remove" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
                {% endif %}
        {% endfor %}
{% endblock table %}
<script>
{% block scripts %}
        $(document).on('click touchstart', '#edit', function(){
            $.ajax({
                url: "{% url 'parts_add' name_parts=type %}",
                data: "{'csrfmiddlewaretoken': '{{ csrf_token }}",
                success: function () {
                    window.location = ''
                }
            })
        })
{% endblock scripts %}
</script>